.container {
  display: grid;
  grid-template-columns: auto 50rem auto;
  grid-template-rows: auto 15rem auto;
  align-items: center;
  margin: 2rem;
}

.paper-old {
  grid-column-start: 2;
  grid-row-start: 2;
  height: 100%;
  padding: 1rem;
}

.paper {
  margin: 2rem auto;
  padding: 1rem;
}

.image {
  float: left;
}

.countdown {
  text-align: right;
}
